body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin:0%;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#mainDiv{
    width:100%;
    height: 768px;
    background-image: url('1.jpg');
}
#mainHeader{
    width:96%;
    margin: 0px auto;
    height: 120px;
    background-color: #04a046;
    color: aliceblue;
    position: relative;
}
#mainLogo{
    width:10%;
    height:100%;
    margin-left:2%;
    background-image:url('madi.png');
    background-size: cover;
    float: left;
}
#mainHeading{
    width: 60%;
    height: 70px;
    font-family:monospace;
    font-weight: 800;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    float: left;
}
#mainContact{
    width:25%;
    padding-top:15px;
    height:85px;
    float:left;
}
#mainMenu{
    width:80%;
    height: 50px;
    margin-left:12%;
    border-radius: 35px;
    background-color: RGBA(84, 108, 94, 0.6);
    position: absolute;
}

#mainMenuID li{
    float:left;
    color:azure;
    width:20%;
}
#mainContent{
    width:80%;
    
}
#mainFooter{
    width:96%;
    margin: 0% auto;
    height:80px;
    background-color: #55695d;
    color: aliceblue;
}
.clear{
    clear:both;
}
